<div class="main">
  <div class="firstline">
  <button mat-icon-button color="black" aria-label="Example icon button with a menu icon">
  <mat-icon>menu</mat-icon>
  </button>
    <h1>Interesting Facts</h1>
  </div>
    <div class="slideshow-container">
    
      <div class="mySlides">
        <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" class="image1" style="width:100%">
      </div>
      
      <div class="mySlides">
        <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" class="image2" style="width:100%">
      </div>
      
      <div class="mySlides">
        <img src="https://www.w3schools.com/howto/img_lights_wide.jpg" class="image3" style="width:100%">
      </div>
      
      <a class="prev">&#10094;</a>
      <a class="next">&#10095;</a>
      
      </div>
      <br>
      
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>
      <br>
      <div style="text-align: center;" class="container-icon">
      <div class="icon">
        <img src="../assets/images/menu.png" style="height: 35px; width: 35px;" [routerLink]="['/home']">
        <div class="line">Categories</div>
      </div>
      <div class="icon">
        <img src="../assets/images/image.png" style="height: 50px; width: 50px;" [routerLink]="['/home']">
        <div class="line">Popular</div>
      </div>
      <div class="icon">
        <img src="../assets/images/setting.png" style="height: 40px; width: 40px;" [routerLink]="['/home']">
        <div class="line">Setting</div>
      </div>
      <div class="icon">
        <img src="../assets/images/book.png" style="height: 40px; width: 40px;"  [routerLink]="['/home']">
        <div class="line">Book</div>
      </div>
    </div>
    <div style="text-align: center;" class="container-image">
    <h4>Most Popular</h4>
    <div>
      <div class="image">
        <img class="img" src="../assets/images/body.jpg" style="height: 100px; width: 180px;"  [routerLink]="['/slide']">
        <div>Body Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/flag.jpg" style="height: 100px; width: 180px;">
        <div>Country facts</div>
      </div>
    </div>
    <div>
      <br>
      <div class="image">
        <img class="img" src="../assets/images/earth.jpeg" style="height: 100px; width: 180px;">
        <div>Earth Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/food.jpg" style="height: 100px; width: 180px;">
        <div>Food And Drinks facts</div>
      </div>
      <h4>Facts By Category</h4>
    <div>
      <br>
      <div class="image">
        <img class="img" src="../assets/images/map.jpg" style="height: 100px; width: 180px;">
        <div>Geography Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/book2.jpg" style="height: 100px; width: 180px;">
        <div>History Facts</div>
      </div>
      
    <div>
      <br>
      <div class="image">
        <img class="img" src="../assets/images/space.jpg" style="height: 100px; width: 180px;">
        <div>Universal Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/eye.jpg" style="height: 100px; width: 180px;">
        <div>Blue Eyes Facts</div>
      </div>
    </div>
    <h4>Most Popular</h4>
    <div>
      <div class="image">
        <img class="img" src="../assets/images/body.jpg" style="height: 100px; width: 180px;">
        <div>Body Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/flag.jpg" style="height: 100px; width: 180px;">
        <div>Country facts</div>
      </div>
    </div>
    <div>
      <br>
      <div class="image">
        <img class="img" src="../assets/images/earth.jpeg" style="height: 100px; width: 180px;">
        <div>Earth Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/food.jpg" style="height: 100px; width: 180px;">
        <div>Food And Drinks facts</div>
      </div>
      <h4>Facts By Category</h4>
    <div>
      <br>
      <div class="image">
        <img class="img" src="../assets/images/map.jpg" style="height: 200px; width: 180px;">
        <div>Geography Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/book2.jpg" style="height: 200px; width: 180px;">
        <div>History Facts</div>
      </div>
      
    <div>
      <br>
      <div class="image">
        <img class="img" src="../assets/images/space.jpg" style="height: 200px; width: 180px;">
        <div>Universal Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/eye.jpg" style="height: 200px; width: 180px;">
        <div>Blue Eyes Facts</div>
      </div>
    </div>
    <br>
    <div class="image">
        <img class="img" src="../assets/images/big.jpg" style="height: 300px; width: 383px;">
      </div>
      
      </div>
    </div>
