    <div  style="text-align: center;">
    <div>
      <div class="image">
        <img class="img" src="../assets/images/body.jpg" style="height: 100px; width: 180px;">
        <div>Body Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/flag.jpg" style="height: 100px; width: 180px;">
        <div>Country facts</div>
      </div>
    </div>
    <div>
      <br>
      <div class="image">
        <img class="img" src="../assets/images/earth.jpeg" style="height: 100px; width: 180px;">
        <div>Earth Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/food.jpg" style="height: 100px; width: 180px;">
        <div>Food And Drinks facts</div>
      </div>
    <div>
      <br>
      <div class="image">
        <img class="img" src="../assets/images/map.jpg" style="height: 100px; width: 180px;">
        <div>Geography Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/book2.jpg" style="height: 100px; width: 180px;">
        <div>History Facts</div>
      </div>
      
    <div>
      <br>
      <div class="image">
        <img class="img" src="../assets/images/space.jpg" style="height: 100px; width: 180px;">
        <div>Universal Facts</div>
      </div>
      <div class="image">
        <img class="img" src="../assets/images/eye.jpg" style="height: 100px; width: 180px;">
        <div>Blue Eyes Facts</div>
      </div>
    </div>

    <div>
        <div class="image">
          <img class="img" src="../assets/images/body.jpg" style="height: 100px; width: 180px;">
          <div>Body Facts</div>
        </div>
        <div class="image">
          <img class="img" src="../assets/images/flag.jpg" style="height: 100px; width: 180px;">
          <div>Country facts</div>
        </div>
      </div>
      <div>
        <br>
        <div class="image">
          <img class="img" src="../assets/images/earth.jpeg" style="height: 100px; width: 180px;">
          <div>Earth Facts</div>
        </div>
        <div class="image">
          <img class="img" src="../assets/images/food.jpg" style="height: 100px; width: 180px;">
          <div>Food And Drinks facts</div>
        </div>
      <div>
        <br>
        <div class="image">
          <img class="img" src="../assets/images/map.jpg" style="height: 100px; width: 180px;">
          <div>Geography Facts</div>
        </div>
        <div class="image">
          <img class="img" src="../assets/images/book2.jpg" style="height: 100px; width: 180px;">
          <div>History Facts</div>
        </div>
        
      <div>
        <br>
        <div class="image">
          <img class="img" src="../assets/images/space.jpg" style="height: 100px; width: 180px;">
          <div>Universal Facts</div>
        </div>
        <div class="image">
          <img class="img" src="../assets/images/eye.jpg" style="height: 100px; width: 180px;">
          <div>Blue Eyes Facts</div>
        </div>
      </div>
    </div>
  
